<div class="content">

    <div fxLayout="row wrap" fxLayoutGap="30px">
        <div fxFlex="23%" *ngFor="let socialMedia of socialsMedia">
            <mat-card>
                <div class="{{socialMedia.user.colorLine}} line"> </div>
                <mat-card-content fxFlex="column">
                    <h3  fxLayout="row" fxLayoutAlign="center center"> <img mat-card-image src="{{socialMedia.user.imageUrl}}"> &nbsp; {{socialMedia.user.name}}</h3>
                    <h1  fxLayout="row" fxLayoutAlign="center center">{{socialMedia.user.totalFollowers}}</h1>
                    <h2  fxLayout="row" fxLayoutAlign="center center"> {{socialMedia.user.type}}</h2>
                    <div class= {{socialMedia.user.color}}  fxLayout="row" fxLayoutAlign="center center"> <mat-icon >{{socialMedia.user.increaseFollowers}}</mat-icon> {{socialMedia.user.todayFollowers}} Today</div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>