
<div fxFlex="10"></div>
<div class="content" fxFlex="80"  >
    <div >
        <div fxLayout="row" fxLayoutAlign="start center">
            <h1 fxFlex="50">Social Media Dashboard</h1> 
            <div fxFlex="50" fxLayout="row" fxLayoutAlign="end end" class="content-toggle" >
               <h3>Dark Mode &nbsp;</h3> <mat-slide-toggle class="toggle"> </mat-slide-toggle>
            </div> 
        </div>
        <h3  fxLayout="row" fxLayoutAlign="start center" >Total Followers: 23,004</h3>
    </div>
    <app-card-followers></app-card-followers>
    <h2>Overview - Today</h2>
    <app-card-overview></app-card-overview>
</div>