<div class="content">

    <div fxLayout="row wrap" fxLayoutGap="30px">
        <div fxFlex="23%" >
            <mat-card >
                <mat-card-content>
                    <div  fxLayout="row" fxLayoutAlign="center center">
                        <h3 fxFlex="50" >Page Views</h3>
                        <div fxFlex="50">
                            <img mat-card-image class="icon" src="../../../../assets/images/icon-facebook.svg"> 
                        </div>
                    </div>
                    <div  fxLayout="row" fxLayoutAlign="center end">
                        <h1 fxFlex="50" >87</h1>
                        <div fxFlex="50"  fxLayout="row" fxLayoutAlign="end center" class="color_green"> <mat-icon >arrow_drop_up</mat-icon> 3%</div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        
        <div fxFlex="23%" >
            <mat-card >
                <mat-card-content>
                    <div  fxLayout="row" fxLayoutAlign="center center">
                        <h3 fxFlex="50" >Likes</h3>
                        <div fxFlex="50">
                            <img mat-card-image class="icon" src="../../../../assets/images/icon-facebook.svg"> 
                        </div>
                    </div>
                    <div  fxLayout="row" fxLayoutAlign="center end">
                        <h1 fxFlex="50" >52</h1>
                        <div fxFlex="50"  fxLayout="row" fxLayoutAlign="end center" class="color_red"> <mat-icon >arrow_drop_down</mat-icon> 2%</div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        
        <div fxFlex="23%"  >
            <mat-card >
                <mat-card-content>
                    <div  fxLayout="row" fxLayoutAlign="center center">
                        <h3 fxFlex="50" >Likes</h3>
                        <div fxFlex="50">
                            <img mat-card-image class="icon" src="../../../../assets/images/icon-instagram.svg"> 
                        </div>
                    </div>
                    <div  fxLayout="row" fxLayoutAlign="center end">
                        <h1 fxFlex="50" >5462</h1>
                        <div fxFlex="50"  fxLayout="row" fxLayoutAlign="end center" class="color_green"> <mat-icon >arrow_drop_down</mat-icon> 2257%</div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div fxFlex="23%" class="card" >
            <mat-card >
                <mat-card-content>
                    <div  fxLayout="row" fxLayoutAlign="center center">
                        <h3 fxFlex="50" >Profile Views</h3>
                        <div fxFlex="50">
                            <img mat-card-image class="icon" src="../../../../assets/images/icon-instagram.svg"> 
                        </div>
                    </div>
                    <div  fxLayout="row" fxLayoutAlign="center end">
                        <h1 fxFlex="50" >52K</h1>
                        <div fxFlex="50"  fxLayout="row" fxLayoutAlign="end center" class="color_green"> <mat-icon >arrow_drop_down</mat-icon> 1375%</div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div fxFlex="23%" >
            <mat-card >
                <mat-card-content>
                    <div  fxLayout="row" fxLayoutAlign="center center">
                        <h3 fxFlex="50" >Retweets</h3>
                        <div fxFlex="50">
                            <img mat-card-image class="icon" src="../../../../assets/images/icon-twitter.svg"> 
                        </div>
                    </div>
                    <div  fxLayout="row" fxLayoutAlign="center end">
                        <h1 fxFlex="50" >117</h1>
                        <div fxFlex="50"  fxLayout="row" fxLayoutAlign="end center" class="color_green"> <mat-icon >arrow_drop_down</mat-icon> 303%</div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        
        <div fxFlex="23%" >
            <mat-card >
                <mat-card-content>
                    <div  fxLayout="row" fxLayoutAlign="center center">
                        <h3 fxFlex="50" >Likes</h3>
                        <div fxFlex="50">
                            <img mat-card-image class="icon" src="../../../../assets/images/icon-twitter.svg"> 
                        </div>
                    </div>
                    <div  fxLayout="row" fxLayoutAlign="center end">
                        <h1 fxFlex="50" >507</h1>
                        <div fxFlex="50"  fxLayout="row" fxLayoutAlign="end center" class="color_green"> <mat-icon >arrow_drop_down</mat-icon> 553%</div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        
        <div fxFlex="23%" >
            <mat-card >
                <mat-card-content>
                    <div  fxLayout="row" fxLayoutAlign="center center">
                        <h3 fxFlex="50" >Likes</h3>
                        <div fxFlex="50">
                            <img mat-card-image class="icon" src="../../../../assets/images/icon-youtube.svg"> 
                        </div>
                    </div>
                    <div  fxLayout="row" fxLayoutAlign="center end">
                        <h1 fxFlex="50" >107</h1>
                        <div fxFlex="50"  fxLayout="row" fxLayoutAlign="end center" class="color_red"> <mat-icon >arrow_drop_down</mat-icon> 19%</div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        
        <div fxFlex="23%" >
            <mat-card >
                <mat-card-content>
                    <div  fxLayout="row" fxLayoutAlign="center center">
                        <h3 fxFlex="50" >Total Views</h3>
                        <div fxFlex="50">
                            <img mat-card-image class="icon" src="../../../../assets/images/icon-youtube.svg"> 
                        </div>
                    </div>
                    <div  fxLayout="row" fxLayoutAlign="center end">
                        <h1 fxFlex="50" >1407</h1>
                        <div fxFlex="50"  fxLayout="row" fxLayoutAlign="end center" class="color_red"> <mat-icon >arrow_drop_down</mat-icon> 12%</div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        

    </div>
</div>
